@import "tailwindcss";

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: hsl(224, 10%, 10%);
  color: white;
}

footer {
  background-color: hsl(224, 14%, 16%);
}

.link {
  border: 1px solid var(--color-yellow-300);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--color-yellow-300);
    color: black;
  }
}

@media (max-width: 48rem) {
  .link {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
  }

  .text-container {
    text-align: center;
  }
}

.headshot-container {
  height: 40vh;
  @media (max-width: 48rem) {
    height: 30vh;
  }
}
