---
import "./background.css";
---

<!-- <div class="blurred-circle" id="blurredCircle"></div>
<script>
  document.addEventListener("mousemove", (event) => {
    const circle = document.getElementById("blurredCircle");
    if (!circle) return;

    circle.style.left = `${event.clientX - 50}px`;
    circle.style.top = `${event.clientY - 50}px`;
  });
  document.addEventListener("mouseleave", () => {
    const circle = document.getElementById("blurredCircle");
    if (circle) {
      circle.style.display = "none";
    }
  });
  document.addEventListener("mouseenter", () => {
    const circle = document.getElementById("blurredCircle");
    if (circle) {
      circle.style.display = "block";
    }
  });
</script> -->
<div class="background-grid"></div>
